<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="Spring6RestclientApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot" nameIsGenerated="true">
    <module name="spring-6-restclient" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="guru.springframework.spring6restclient.Spring6RestclientApplication" />
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>